<!DOCTYPE html>
<html>
  <head>
    <title>Attendance report for a Student</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta
      content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"
      name="viewport"
    />
  </head>
  <body>
    <a href="/studreg_page">Register for Face Auth</a> &nbsp &nbsp | &nbsp &nbsp
    <a href="/">Mark Attendance </a> &nbsp &nbsp | &nbsp &nbsp
    <a href="/atten_report_page">Attendance report</a>

    <div id="stud_reg">
      <h2>Attendance report for a Student</h2>
      <br />
      <input id="std_id" name="std_id" placeholder="Student ID" type="text" />
      <br />
      <button id="click-submit">Submit</button><br />
      <label id="msg"></label><br />
    </div>
    <script>
      let click_submit = document.querySelector("#click-submit");
      let std_id_tbox = document.querySelector("#std_id");
      let msg_label = document.querySelector("#msg");
      let table = document.querySelector("#std_aten_table");

      click_submit.addEventListener("click", function () {
        const url = "http://127.0.0.1:5000/atten_report";

        fetch(url, {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            std_id: std_id_tbox.value,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            var msg = "";
            if (data.result === 200) {
              msg = "ID |             Date             | Present <br>";
              let rows = JSON.parse(data.data);
              rows.forEach((row) => {
                var r =
                  row.stu_id + " | " + row.date + " | " + row.present + "<br>";
                msg += r;
              });
            } else {
              msg =
                "Report query result : " +
                data.result +
                ", Error : " +
                data.error;
            }
            msg_label.innerHTML = msg;
            msg_label.style.display = "block";
            console.log(data);
          })
          .catch((error) => {
            console.log(error);
          });
      });
    </script>
  </body>
</html>
